@font-face {
    font-family: 'Angelface';
    font-style: normal;
    font-weight: 400;
    src: local('Angelface'), url('https://fonts.cdnfonts.com/s/13597/Angelface.woff') format('woff');
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
    background: linear-gradient(to right, #4df0d59c, #55b8fa77, #44fc6f69, #55b8fa77, #4df0d59c);
}

.barraSup{
    height: 50px;
    background: linear-gradient(to left, #55B7FA, #44FC6F, #4DF0D5);
    display: flex;
}

.spaceSect{
    background: linear-gradient(to right, #4DF0D5, #55B7FA, #44FC6F);
    width: 75%;
}

.barr{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    top: 0;
    width: 100%;
    position: fixed;
}

nav{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 13px;
    margin: 5px;
    background-color: #44fc6f4f;
    color: black;
}

header{
    padding-top: 50px;
    margin: 10px;
    text-align: center;
    font-size: 40px;
    color: #903BDB;
    font-family: 'Angelface', sans-serif;         
}

.hHead{
    font-size: 100px;
}

.pHead{
    color: #4249E3;
    font-size: 40px;
    font-style: normal;
    line-height: 30px;
}

.sects{
    margin: 10px;
    background: linear-gradient(circle, #4df0d59c, #55b8fa77, #44fc6f, #55b8fa77, #4df0d59c);
    display: flex;
}



.leftSect{
    width: 50%;
    color: #903BDB;
    margin-right: 5px;
    background: linear-gradient(to left, #4df0d5, #55b8fa77, #44fc6f98, #55b8fa77, #4df0d5);
    border-radius: 15px;
}

h2{
    text-align: center;
    color: #903BDB;
}

.l1{
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0.2px;
    color: #4249E3;
}

.amol{
    border-width: 0.2px;
    display: flex;
    height: auto;
}

p{
    margin: 5px;
    font-size: 15px;
}

h5{
    margin-left: 5px;
    color: #903BDB;
}

.bimg{
    height: 100px;
    width: 100px;
    margin: 5px;
}

.rightSect{
    width: 50%;
    margin-left: 5px;
    background: linear-gradient(to right, #4df0d5, #55b8fa77, #44fc6f98, #55b8fa77, #4df0d5);
    border-radius: 15px;
}

.l2{
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, #d1ffdb75, #d1ecff75, #d1fff775);
    border-radius: 15px;
    border-width: 0.2px;
    color: #4249E3;
}

.a_2{
    margin: 5px;
    margin-left: 20px;
    width: 80%;
}

.p2{
    color: #4f56e47c;
}

.img2{
    height: 65px;
    width: 65px;
}

.butt1{
    background: linear-gradient(to bottom, #d1ffdb75, #d1ecff75, #d1fff775);
    padding: 10px 20px;
    border: solid #903BDB;
    border-width: 1px;
    color: #903BDB;
    margin: 10px;
}

.butt2{
    background: linear-gradient(to bottom, #d1ffdb75, #d1ecff75, #d1fff775);
    padding: 10px 20px;
    border: solid #4249E3;
    border-width: 1px;
    color: #4249E3;
    margin: 10px;
}

footer{
    margin: 10px;
    text-align: center;
    color: #903BDB;
}

.barraInf{
    height: 50px;
    display: flex;
}
